<h2>Add a job</h2>

<form action="/jobs" method="POST">
  <p>Location: <input type="text" name="location" placeholder="E.g. San Diego"></p>
  <p>Nature: <input type="text" name="nature" placeholder="E.g. Medical"></p>
  <p>Duration: <input type="text" name="duration"> hours</p>
  <input class="btn btn-primary" type="submit" value="Create">
</form>
