<h2>Add a job</h2>

<form action="/jobs" method="POST">
  <p>Location: <input type="text" name="location" placeholder="E.g. San Diego"></p>
  <p>Type: <input type="text" name="type" placeholder="E.g. Medical"></p>
  <p>Duration: <input type="text" name="duration">hours</p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
